<p id="notice"><%= notice %></p>

<h1>Desidered Books</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Autore</th>
      <th>Genere</th>
      <th>Anno</th>
      <th>Isbn</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @desidered_books.each do |desidered_book| %>
      <tr>
        <td><%= desidered_book.nome %></td>
        <td><%= desidered_book.autore %></td>
        <td><%= desidered_book.genere %></td>
        <td><%= desidered_book.anno %></td>
        <td><%= desidered_book.ISBN %></td>
        <td><%= desidered_book.user.username %></td>
        <td><%= link_to 'Show', desidered_book %></td>
        <td><%= link_to 'Edit', edit_desidered_book_path(desidered_book) %></td>
        <td><%= link_to 'Destroy', desidered_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desidered Book', new_desidered_book_path %>
