<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @desidered_book.nome %>
</p>

<p>
  <strong>Autore:</strong>
  <%= @desidered_book.autore %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @desidered_book.genere %>
</p>

<p>
  <strong>Anno:</strong>
  <%= @desidered_book.anno %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @desidered_book.ISBN %>
</p>

<p>
  <strong>User:</strong>
  <%= @desidered_book.user.username %>
</p>

<%  if can? :update, @desidered_book%>
<%= link_to 'Modifica', edit_desidered_book_path(@desidered_book) %> 
<% end %>
<%  if can? :destroy, @desidered_book%>
<%= link_to 'Elimina', destroy_desidered_book_path(@desidered_book) %> 
<% end %>
<%= link_to 'Indietro', desidered_book_path %>