<div>
	<p>Email: <%= @user.email %></p>
	<p>Username: <%= @user.username %> </p>
	<p>Indirizzo: <%= @user.indirizzo %> </p>
	<p>Anno di nascita: <%= @user.annonascita %> </p>
	<%= link_to 'Edit Profile', edit_user_registration_path %>
</div>