<div class="center jumbotron">

<h1> Welcome to BookKing ! <h1>

<h2> BookKing is a website where you can exhange books.
	<br>
	In this way you will never stay without reading!
</h2>

</div>

<h3>Cerca utente:</h3>
<%= form_tag userssearch_path, :method => 'get' do %>
    <div>
        <%= text_field_tag :search, params[:search] %>
        <%= select_tag "ricerca", options_for_select([ "username", "email", "indirizzo", "anno" ], "username") %>
        <%= submit_tag "Cerca", :name => nil , class: "btn btn-log btn-primary"%>
    </div>
	
<% end %>

<h3>Cerca libro:</h3>
<%= form_tag booksearch_path, :method => 'get' do %>
	<div>
		<%= text_field_tag :search, params[:search] %>
        <%= select_tag "ricerca", options_for_select([ "nome", "autore", "genere", "anno" ], "Nome") %>
		<%= submit_tag "Cerca", :search => nil , class: "btn btn-log btn-primary"%>
	</div>
<% end %>

<br>
<% if user_signed_in? %>
	<% if !@suggest.empty? %>
		<h2>Suggerimenti</h2>
		<div>
			<%= form_tag root_path, :method => 'get' do %>
				<%= select_tag "Ordina", options_for_select([ "nome", "autore", "genere", "anno"], "nome") %>
				<%= select_tag "AscDesc", options_for_select([ "crescente", "decrescente"], "crescente") %>
				<%= submit_tag "Ordina", :search => nil, class: "btn" %>
			<% end %>
		</div>
		<table class="table table-striped table-bordered">
		  <thead>
		    <tr>
		      <th>Nome</th>
		      <th>Autore</th>
		      <th>Genere</th>
		      <th>Anno</th>
		      <th>Isbn</th>
		      <th>Utente</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @suggest.each do |suggest| %>
		      <tr>
		        <td><%= suggest.nome %></td>
		        <td><%= suggest.autore %></td>
		        <td><%= suggest.genere %></td>
		        <td><%= suggest.anno %></td>
		        <td><%= suggest.ISBN %></td>
		        <td><%= suggest.user.username %></td>
		        <td><%= link_to 'Show', suggest , class: "btn btn-default"%></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% else %>
		<h4>Nessun suggerimento disponibile</h4>
	<% end %>
<% end %>