<p> HOME <p>

<p>Cerca utente</p>
<%= form_tag userssearch_path, :method => 'get' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= select_tag "ricerca", options_for_select([ "username", "email", "indirizzo", "anno" ], "username") %>
        <%= submit_tag "Cerca", :name => nil %>
    </p>
	
<% end %>

<p>Cerca libro</p>
<%= form_tag booksearch_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
        <%= select_tag "ricerca", options_for_select([ "nome", "autore", "genere", "anno" ], "Nnme") %>
		<%= submit_tag "Cerca", :search => nil %>
	</p>
<% end %>

<% if user_signed_in? %>
	<% if !@suggest.empty? %>
		<p>Suggerimenti</p>
		<% @suggest.each do |book| %>
			<p>
				<%= book.nome %>
				<%= book.user.username %>
				<%= link_to 'Show', book %>
			</p>
		<% end %>
	<% else %>
		<p>Nessun suggerimento disponibile</p>
	<% end %>
<% end %>