<p> HOME <p>

<p>Cerca utente</p>
<%= form_tag userssearch_path, :method => 'get' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    </p>
	
<% end %>

<p>Cerca libro</p>
<%= form_tag booksearch_path, :method => 'get' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :search => nil %>
</p>
<% end %>