<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table class= "table table-striped table-bordered">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Email</th>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.comment %></td>
        <td><%= contact.email %></td>
        <td><%= contact.nome %></td>
        <td><%= link_to 'Show', contact, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path, class: "btn btn-primary" %>
