<% if @reviews.empty? %>
  <p>Nessuna recensione</p>
<% else %>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Data</th>
        <th>Voto</th>
        <th>Utente</th>
        <th>Commento</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |r| %>
        <tr>
          <td><%= r.created_at %></td>
          <td><%= r.rating %></td>
          <td><%= r.reviewer %></td>
          <td><%= r.comment %></td>
          <td>
          <% if can? :delete, r %>
            <%= link_to 'Elimina', r, method: :delete, data: { confirm: 'Sei sicuro?' }, class: "btn btn-danger" %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end%>