<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @proposed_book.nome %>
</p>

<p>
  <strong>Autore:</strong>
  <%= @proposed_book.autore %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @proposed_book.genere %>
</p>

<p>
  <strong>Stato:</strong>
  <%= @proposed_book.stato %>
</p>

<p>
  <strong>Anno:</strong>
  <%= @proposed_book.anno %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @proposed_book.ISBN %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposed_book.user.username %>
</p>

<%  if can? :update, @proposed_book%>
<%= link_to 'Modifica', edit_proposed_book_path(@proposed_book) %> 
<% end %>
<%  if can? :destroy, @proposed_book%>
<%= link_to 'Elimina', destroy_proposed_book_path(@proposed_book) %> 
<% end %>
<%= link_to 'Indietro', proposed_books_path %>


<h4>Proponi Scambio</h4>
<% if user_signed_in? %>
  <% if current_user.id != @proposed_book.user.id %>

    <%= form_for :proposal, :url => {:action => 'create', :controller => 'proposals'} do |f| %>
      <%= f.collection_select :libromittente_id, @user_books, :id, :nome %>
      <%= f.hidden_field :librodestinatario_id, :value => @proposed_book.id %>
      <%= f.hidden_field :mittente_id, :value => current_user.id %>
      <%= f.hidden_field :destinatario_id, :value => @proposed_book.user.id %>
      <%= f.submit "Proponi", :action => :create %>
    <% end %>
  <% end %>
<% end %>