<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @proposed_book.nome %>
</p>

<p>
  <strong>Autore:</strong>
  <%= @proposed_book.autore %>
</p>

<p>
  <strong>Genere:</strong>
  <%= @proposed_book.genere %>
</p>

<p>
  <strong>Anno:</strong>
  <%= @proposed_book.anno %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @proposed_book.ISBN %>
</p>

<p>
  <strong>User:</strong>
  <%= @proposed_book.user.username %>
</p>

<%  if can? :update, @proposed_book%>
<%= link_to 'Modifica', edit_proposed_book_path(@proposed_book) %> 
<% end %>
<%  if can? :destroy, @proposed_book%>
<%= link_to 'Elimina', destroy_proposed_book_path(@proposed_book) %> 
<% end %>
<%= link_to 'Indietro', proposed_book_path %>