<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "BookKing", "#", id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><% if user_signed_in? %></li>
				<li><%= link_to "Home", root_path, class: 'button' %></li>
				<li><%= link_to "Profilo", current_user, class: 'button' %></li>
				<li><%= link_to "Lista desideri", desidered_books_path, class: 'button' %></li>
				<li><%= link_to "Lista Proposte", proposed_books_path, class: 'button' %></li>
				<li><%= link_to "Miei scambi", proposals_path, class: 'button' %></li>
				<li><%= link_to "Logut", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li><%= link_to "Home", root_path, class: 'button' %></li>
				<li><%= link_to "Login", new_user_session_path, class: 'button' %></li>
				<li><%= link_to "Sign Up", new_user_registration_path, class: 'button' %></li>
			<% end %>
			</ul>
		</nav>
	</div>
 </header>