<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div class="row">
<div class="col-md-offset-2 col-md-6">
  <div class= "panel panel-default">
      <div class="row">
        <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <p><%= devise_error_messages! %></p>

        <p><%= f.label :avatar %></p>
        <div class="row col-sm-offset-2 col-sm-6">
            <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="row field">
        <p><%= f.label :email %></p>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="row field">
        <p><%= f.label :username %></p>
        <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="row field">
        <p><%= f.label :indirizzo %></p>
        <%= f.text_field :indirizzo, autofocus: true, autocomplete: "indirizzo" %>
      </div>

      <div class="row field">
        <p><%= f.label :annonascita %></p>
        <%= f.text_field :annonascita, autofocus: true, autocomplete: "annonascita" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="row field">
        <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="row field">
        <p><%= f.label :password_confirmation %></p>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="row field">
        <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
      <h2>Cancel my account</h2>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

      <%= link_to "Back", :back, class: "btn btn-default" %>
    </div>
</div>
</div>